<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx2b-c2uqW8kN10Yxz0ZCNB1YeBo0qw5A</string>
	<key>GCM_SENDER_ID</key>
	<string>951809752043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.quickdrop</string>
	<key>PROJECT_ID</key>
	<string>quick-drop-5434vs</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-drop-5434vs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951809752043:ios:cae8f898c2f84f1dcbf7ae</string>
</dict>
</plist>